@model HeadlessCreator.Models.ContentTypes.Event

@{
    var venue = Model.Venue.OfType<Venue>().First();
}

<div class="column is-one-third">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="@Model.Gallery.FirstOrDefault()?.Url" alt="Placeholder image">
            </figure>
            <div class="card-stacked">
                <div class="card-content">
                    <div class="media-content">
                        <p class="title is-4">@Model.Name</p>
                        <span class="tag is-light"><a asp-controller="Venue" asp-action="Detail"
                                asp-route-venuecodename="@venue.System.Codename">@venue.Name</a></span>
                        <p class="subtitle is-6">@(Model.Date.Value.ToLongDateString())</p>
                    </div>

                </div>
                <footer class="card-footer">
                    <div class="card-footer-item has-text-left">
                        <a class="button is-primary" asp-controller="Event" asp-action="Detail"
                            asp-route-eventcodename="@Model.System.Codename">Find out more</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>